{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>{{ game_type|capitalize }} Module</h2>
    <p>Select a difficulty level:</p>
    
    <!-- Difficulty Level Buttons -->
    <div class="row mb-4">
        {% set difficulties = [('easy', 'success', 1), ('medium', 'warning', 2), ('hard', 'danger', 3)] %}
        {% for level, color, stars in difficulties %}
        <div class="col-md-4">
            <a href="{{ url_for('game.start_game', game_type=game_type, difficulty=level) }}" class="btn btn-{{ color }} btn-block mb-2">
                {% for _ in range(stars) %}<span class="fa fa-star"></span>{% endfor %} {{ level|capitalize }}
            </a>
        </div>
        {% endfor %}
    </div>
    
    <!-- Additional Buttons: Tips and Progress -->
    <div class="row">
        <div class="col-md-6">
            <a href="" class="btn btn-info btn-block">
                <span class="fa fa-lightbulb"></span> Tips
            </a>
        </div>
        <div class="col-md-6">
            <a href="{{ url_for('progress.progress', game_type=game_type) }}" class="btn btn-primary btn-block">
                <span class="fa fa-chart-line"></span> Progress
            </a>
        </div>
    </div>
</div>
{% endblock %}
