{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Multiplication Module</h2>
    <p>Select a difficulty level:</p>
    <div class="row">
        <div class="col-md-4">
            <a href="{{ url_for('start_multiplication_game', difficulty='easy') }}" class="btn btn-success btn-block">
                <span class="fa fa-star"></span> Easy
            </a>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('start_multiplication_game', difficulty='medium') }}" class="btn btn-warning btn-block">
                <span class="fa fa-star"></span><span class="fa fa-star"></span> Medium
            </a>
        </div>
        <div class="col-md-4">
            <a href="{{ url_for('start_multiplication_game', difficulty='hard') }}" class="btn btn-danger btn-block">
                <span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span> Hard
            </a>
        </div>
    </div>
</div>
{% endblock %}
