{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Choose a Learning Module</h2>
    <p>Select the type of problems you want to practice:</p>
    <div class="row">
        {% set modules = [('addition', 'Addition'), ('subtraction', 'Subtraction'), ('multiplication', 'Multiplication'), ('division', 'Division')] %}
        {% for module, label in modules %}
        <div class="col-md-3">
            <a href="{{ url_for('module_selection', game_type=module) }}" class="btn btn-primary btn-block">{{ label }}</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
