{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Choose a Learning Module</h2>
    <p>Select the type of problems you want to practice:</p>
    <div class="row">
        <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-block">Addition</a>  <!-- Replace url_for with # -->
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-block">Subtraction</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-block">Multiplication</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-primary btn-block">Division</a>
        </div>
    </div>
    
</div>
{% endblock %}
