{% extends "base.html" %}
{% from "bootstrap4/form.html" import render_form %}

{% block content %}
<div class="container mt-4">
    <h2>User Profile</h2>
    
    <!-- Form to Update Username -->
    <form method="POST" action="">
        {{ profile_form.hidden_tag() }}
        <input type="hidden" name="form_name" value="update_username">
        {{ render_form(profile_form) }}  <!-- Render the profile form -->
    </form>
    
    <hr>

    <!-- Form to Update Password -->
    <form method="POST" action="">
        {{ password_form.hidden_tag() }}
        <input type="hidden" name="form_name" value="update_password">
        {{ render_form(password_form) }}  <!-- Render the password form -->
    </form>

</div>
{% endblock %}
